<!-- end content-section -->
<section class="content-section no-spacing">
<div class="container print-box" style="padding:5px;">
    <h3 class="section-title">Entertainment</h3>
  <div class="highlight-slider-wrapper">
    <div class="highlight-slider-top">
      <div class="swiper-wrapper">
        
        
        {{#each entertainment}}
        <div class="swiper-slide">
          <div class="blog-post indiana">
            <div class="post-image" data-background="{{transformURL post_image}}"></div>
            <!-- post-image -->
            <div class="container">
              <div class="post-content">
                <ul class="post-categories">
                </ul>
                <h3 class="post-title"><a href="{{post_category}}/{{post_url}}">{{post_name}}</a></h3>
              </div>
              <!-- end post-content --> 
            </div>
            <!-- end container --> 
          </div>
          <!-- end blog-post --> 
        </div>
        {{/each}}



        <!-- end swiper-slide -->
        
        <!-- end swiper-slide -->
       
        <!-- end swiper-slide -->
        
        <!-- end swiper-slide --> 
      </div>
      <!-- end swiper-wrapper --> 
    </div>





    <!-- end highlight-slider-top -->
    <div class="highlight-slider-bottom">
      <div class="container">
        <div class="highlight-slider-thumbs">
          <div class="swiper-wrapper">
            
            {{#each entertainment}}
            <div class="swiper-slide">
              <figure><img src="{{transformURL post_image}}" alt="Image" style="height: 300px;">
                <figcaption> <span class="date">{{post_name}}</span> </figcaption>
              </figure>
            </div>
            {{/each}}
            <!-- end swiper-slide -->
            
            <!-- end swiper-slide --> 
          </div>
          <!-- end swiper-wrapper --> 
        </div>
        <!-- end highlight-slider-thumbs --> 
      </div>
      <!-- end container --> 
    </div>
    <!-- end highlight-slider-bottom --> 
  </div>
  <!-- end highlight-slider-wrapper --> 
  </div>
</section>
<!-- end content-section -->