<section class="content-section">
  <div class="container print-box">
    <div class="row">
      <div class="col-12">
        <h2 class="section-title">International</h2>
      </div>
      <!-- end col-12 --> 
    </div>
    <!-- end row -->
    <div class="row">

      
      {{#each international_one}}
      <div class="col-lg-4">
        <div class="blog-post utah">
          <figure class="post-image">
			      <img src="{{post_image}}" style="height: 200px;">
			    </figure>
          <div class="post-content">
            <h3 class="post-title"><a href="post-single.html">{{post_name}}</a></h3>
            <div class="metas"> <span class="date">{{update_date}}</span>
              <div class="read-time"><i class="far fa-clock"></i> <span>2 mins</span></div>
              <!-- end read-time --> 
              </div>
            <!-- end metas --> 
          </div>
          <!-- end post-content --> 
        </div>
      </div>
      {{/each}}
      <!-- end col-4 -->
      <div class="clearfix spacing-50"></div>
    </div>





    <!-- end row -->
    <div class="row">



      <div class="col-lg-4 col-md-6">
        {{#each international_two}}
        <div class="blog-post miami">
          <figure class="post-image"> <img src="{{post_image}}" alt="Image"> </figure>
          <div class="post-content">
            <h3 class="post-title"><a href="post-single.html">{{post_name}}</a></h3>
            <div class="metas">
              <div class="views"><img src="images/icon-mini-trend.png" alt="Image"></div>
              <!-- end views --> 
               </div>
            <!-- end metas --> 
          </div>
          <!-- end post-content --> 
        </div>
        {{/each}}
      </div>


      <!-- end col-4 -->
      <div class="col-lg-4 col-md-6">
        {{#each international_three}}
        <div class="blog-post miami">
          <figure class="post-image"> <img src="images/mini-thumb10.jpg" alt="Image"> </figure>
          <div class="post-content">
            <h3 class="post-title"><a href="post-single.html">Impossible milk could be coming to your cereal</a></h3>
            <div class="metas">
              <div class="views"><img src="images/icon-mini-trend.png" alt="Image"> <span>2.6K Views</span></div>
              <!-- end views --> 
              <span class="comments">12</span> </div>
            <!-- end metas --> 
          </div>
          <!-- end post-content --> 
        </div>
        {{/each}}
      </div>



      <!-- end col-4 -->
      <div class="col-lg-4">
        
        {{#each international_four}}
        <div class="blog-post miami">
          <figure class="post-image"> <img src="{{post_image}}" alt="Image"> </figure>
          <div class="post-content">
            <h3 class="post-title"><a href="post-single.html">{{post_name}}</a></h3>
            <div class="metas">
              <div class="views"><img src="images/icon-mini-trend.png" alt="Image"> <span>2.6K Views</span></div>
              <!-- end views --> 
              <span class="comments">12</span> </div>
            <!-- end metas --> 
          </div>
          <!-- end post-content --> 
        </div>
        {{/each}}
        <!-- end blog-post -->
        
        <!-- end blog-post --> 
      </div>
      <!-- end col-4 --> 
    </div>
    <!-- end row --> 
  </div>
  <!-- end container --> 
</section>