<section class="content-section">
  <div class="container print-box">
    <div class="row">
      <div class="col-12 print-box" style="background-color:black;">
        <h2 class="section-title color-heading">National</h2>
      </div>
    </div>
    <!-- end row -->
    <div class="row justify-content-center" style="margin-top: 5px;">

      {{#each national}}
      <div class="col-lg-3 col-md-6">
        <div class="blog-post kansas">
          <figure class="post-image"><a href="{{post_category}}/{{post_url}}" class="bookmark"><i class="fal fa-bookmark"></i></a>  <img src="{{transformURL post_image}}" alt="Image" style="height:200px;"> </figure>
          <div class="post-content">
            <h3 class="post-title custom-fsize"><a href="{{post_category}}/{{post_url}}" class="custom-fsize">{{post_name}}
            </a></h3>
            <div class="metas" style="margin-top: 5px;"> <span class="date">{{author}}</span>
                -
            <span class="date"><a href="{{post_category}}/{{post_url}}">{{update_date}}</a></span> </div>
          </div>
        </div>
        </div>
        {{/each}}

    <!-- end col-12--> 
  </div>
  <!-- end container --> 
</section>
<!-- end content-section -->