
<section class="content-section">
  <div class="container print-box">
    <div class="row">
      <div class="col-12 print-box">
        <h2 class="section-title color-heading">Sports</h2>
      </div>
      <!-- end col-12 --> 
    </div>
    <!-- end row -->
    <div class="row justify-content-center" style="margin-top: 5px;">
      {{#each sports_one}}
      <div class="col-lg-4 col-md-6">
        <div class="blog-post texas">
          <figure class="post-image"><img src="{{post_image}}" alt="Image" style="height: 220px;">
          </figure>
          <div class="post-content" style="padding:2px;">
            <h3 class="post-title"><a href="{{post_category}}/{{post_url}}" class="fsize18">{{post_name}}</a></h3>
            <div class="metas" style="margin-top: 5px;"> <span class="date">{{updated_date}}</span>
              <div class="read-time"><i class="far fa-clock"></i> <span>2 mins</span></div>
              <!-- end read-time --> 
            </div>
          </div>
          <!-- end post-content --> 
        </div>
        <!-- end blog-post --> 
      </div>
      {{/each}}

     


         <!-- end col-4 -->
      {{#each sports_two}}
      <div class="col-lg-4 col-md-6" style="padding-left: 0px;padding-right:0px;">
        <div class="blog-post georgia" style="margin-bottom: 5px;">
          <div class="post-content" style="padding: 15px;">
           
            <div class="metas"> <span class="date">{{updated_date}}</span>
              <div class="read-time"><i class="far fa-clock"></i> <span>2 mins</span></div>
              <!-- end read-time --> 
            </div>
            <!-- end metas -->
            <h3 class="post-title fsize20"><a href="{{post_category}}/{{post_url}}" class="fsize20">{{post_name}}</a></h3>
            <p class="post-excerpt" style="font-size:14px;">{{post_summary}}</p>
          </div>
        </div>
      </div>
      {{/each}}
       <!-- end col-4 -->
      
          


      


     
     
     
      
    </div>
    <!-- end row --> 
  </div>
  <!-- end container --> 
</section>